[all:vars]
image_name="maodouzi/pro-mysite"
# image_version="latest"
image_version="v1.0"
data_external_dir="/Users/wuchunlong/local/github/upfile/mysite/data/"
data_hostpath="/root/data/"
data_containerpath="/home/www/upfile/src/mysite/data/"
# container_port="80"
# host_port="80"

bastion_data_device="/dev/vdb"

[webserver]
course
