{% extends 'blog/__base__.html' %}
{% block content %}


    <style>
        *{ margin:0; padding: 0; list-style: none; }
        #list img{ width: 500px; height: 350px;}
    </style>
           <h3 > 图片常规显示 </h3>
<ul id="list">
    <li><img src="/static/img/img1.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img2.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img3.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img4.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img5.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img6.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img7.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img8.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img9.png" alt="pic"/></li> <br>
    <li><img src="/static/img/img10.png" alt="pic"/></li> <br>
</ul>

{% endblock  %}

