{% extends 'blog/__base__.html' %}
{% block content %}


    <style>
        *{ margin:0; padding: 0; list-style: none; }
        #list img{ width: 900px; height: 630px;}
    </style>
           <h2> 图片懒加载技术显示 (图片总数：{{list_img_len}})</h2>
<ul id="list">
   
    {% for i in list_img %}
      <li><img _src="/static/{{i}}" alt="pic"/></li> <br> 
    {% endfor %}
</ul>


<script>
      // 获取图片
    var oImg = document.getElementsByTagName('img');
    
      fn();   // 先让第一张图展现
      
    window.onscroll = function(){
        fn();         // 滚轮滚动事件
        
    };
   
    function fn(){
        //判断图片是否在可视区内
        for(var i=0; i<oImg.length; i++){
            var oImgTo = oImg[i].offsetTop;
            //元素距离页面顶端的距离
            var clientH = document.documentElement.clientHeight;
            //可视区的高度
            var scrollT = document.documentElement.scrollTop || document.body.scrollTop;
            
            //可视区顶部距离页面顶部的距离,一行显示一个图片
            if(clientH + scrollT >= oImgTo){
                oImg[i].src = oImg[i].getAttribute('_src');
            }
        }
    }
    //getAttribute() 方法根据名称取得属性值。
</script>

{% endblock  %}

