{% extends 'blog/__base__.html' %}
{% block content %}


    <style>
        *{ margin:0; padding: 0; list-style: none; }
        #list img{ width: 580px; height: 480px;}
    </style>
           <h2 > 图片懒加载技术显示 </h2>
<ul id="list">
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/2.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/3.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/4.jpg" alt="pic"/> 

    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/5.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/6.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/7.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/8.jpg" alt="pic"/> 

    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/9.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/10.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/11.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/12.jpg" alt="pic"/> 

    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/13.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/14.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/15.jpg" alt="pic"/> 
    <img _src="http://cdn.jirengu.com/book.jirengu.com/img/16.jpg" alt="pic"/> 
    
</ul>


<script>
    // 获取图片
    var oImg = document.getElementsByTagName('img');
    
    fn(); // 先让第一批图展现
      
    window.onscroll = function(){
        fn(); // 滚轮滚动事件
        
    };
   
    function fn(){
        //判断图片是否在可视区内
        for(var i=0; i<oImg.length; i++){
            var oImgTo = oImg[i].offsetTop;
            //元素距离页面顶端的距离
            var clientH = document.documentElement.clientHeight;
            
            //可视区的高度
            var scrollT = document.documentElement.scrollTop || document.body.scrollTop;
            //console.log('可视区的高度:'+scrollT);
            //可视区顶部距离页面顶部的距离   一行显示2个图片
            if(clientH + scrollT >= oImgTo){
                oImg[i].src = oImg[i].getAttribute('_src'); 
                oImg[i+1].src = oImg[i+1].getAttribute('_src');
            }
        }
    }
    //getAttribute() 方法根据名称取得属性值。
</script>

{% endblock  %}

