{% extends 'usercenter-base.html' %}


{% block custom_right_content %}
    <div class="right">
		<div class="personal_des ">
			<div class="head" style="border:1px solid #eaeaea;">
				<h1>个人信息</h1>
			</div>
			
            MEDIA_URL ==== {{ MEDIA_URL }} <br>
            request.user.image ==== {{ MEDIA_ROOT }}
            <div class="inforcon">
				<div class="left" style="width:242px;">
                    <iframe id='frameFile' name='frameFile' style='display: none;'></iframe>
                    <form class="clearfix" id="jsAvatarForm" enctype="multipart/form-data" autocomplete="off" method="post" action="" target='frameFile'>
                        <label class="changearea" for="avatarUp">
                            <span id="avatardiv" class="pic">
                                <img width="100" height="100" class="js-img-show"  src=""/>
                            </span>
                            <span >
                                
                                <input type="file" name="image" id="avatarUp" class="js-img-up"/>

                            </span>
                        </label>
                        
                        {% csrf_token %}

                         <!-- <input type="submit"   value="确认提交"> -->
                    </form>
                   
                        
                    
                   
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}