{% extends 'blog/__base__.html' %}
{% block content %}

    <h3> 支持多个目录上传文件 但是 不能上传目录(结构),只会把目录和其子目录的文件上传,而不会上传目录 </h3>

    <form enctype="multipart/form-data" action="/blog/upfolder/" method="POST">
           {% csrf_token %}
           upimg:<input type="file" name="upimg" id="upimg" multiple webkitdirectory="">
           <br/>

           upvideo:<input type="file" name="upvideo" id="upvideo" multiple webkitdirectory="">
           <br/>
           <input type="submit" value="上传目录中的所有文件  提交"/>
     </form>
  

{% endblock %}