{% extends 'blog/__base__.html' %}
{% block content %}

    <h3> 上传单个html文件 </h3>

<div class="container"> 
  <div class="col-md-12 column">           
    <div class="col-md-8 column" style="padding-top:20px;"> 

      <form  style="display:none" action="" method="post" enctype="multipart/form-data">
　　     {% csrf_token %}
		    <input type="file" name="upfile" value="">
      </form>
      
      <a href="javascript:;" class="import btn btn-lg btn-success" ><i class="fa fa-file-picture-o"></i> 选择上传文件</a>
      
      <div style="padding-left:78px;padding-top:200px;">
        <p1><i class="fa fa-spin fa-5x fa-spinner fa-pulse"></i></p1>
      </div>                
          
    </div>      
  </div>
  
</div>

<script>
$("p1").hide();
/* 选择文件自动提交 模块 */
$('.import').click(function(){
　　$(this).prev('form').find('[name="upfile"]').trigger('click');
});
/*当表单文件有变化时执行提交动作*/
$('[name="upfile"]').change(function(){   
    $("p1").show();  
    if($(this).val()){
　　　　$('.import').addClass('disabled' );
　　　　$(this).parent().submit();
　　}
});
</script>       

{% endblock %}